1. What are the two values of the Boolean data type? How do you write them?

#### Answer
The two values of Boolean data type are True and False.
We make sure to write them with the correct casing as shown above.

---------------------------------------------------

2. What are the three different types of Boolean operators?

#### Answer
The three different types of Boolean operators are AND, OR and NOT.

---------------------------------------------------

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [1]:
#### Answer

import pandas as pd

TruthTable = pd.DataFrame({'A':[1,1,0,0], 'B':[1,0,1,0], 'A AND B':[1,0,0,0], 'A OR B':[1,1,1,0], 
                           'NOT A':[0,0,1,1], 'NOT B':[0,1,0,1], 'NOT A AND B':[0,0,1,0], 'NOT A OR B':[1,0,1,1], 
                          'A AND NOT B': [0,1,0,0], 'A OR NOT B': [1,1,0,1], 
                           'NOT A AND NOT B': [0,0,0,1], 'NOT A OR NOT B': [0,1,1,1]})

TruthTable

# ---------------------------------------------------

,A,B,A AND B,A OR B,NOT A,NOT B,NOT A AND B,NOT A OR B,A AND NOT B,A OR NOT B,NOT A AND NOT B,NOT A OR NOT B
0,1,1,1,1,0,0,0,1,0,1,0,0
1,1,0,0,1,0,1,0,0,1,1,0,1
2,0,1,0,1,1,0,1,1,0,0,0,1
3,0,0,0,0,1,1,0,1,0,1,1,1

4. What are the values of the following expressions?

(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

#### Answer

(5 > 4) and (3==5) => True and False => False

not (5 > 4) => not True => False

not ((5 > 4) or (3 == 5)) => not (True or False) => not True => False

(True and True) and (True == False) => (True) and (False)=> False

(not False) or (not True) => (True) or (False) => True

---------------------------------------------------

5. What are the six comparison operators?

#### Answer
The six comparison operators are:

    == Equal to
    != Not equal to
    < Lesser than
    > Greater than
    <= Lesser than or equal to
    >= Greater than or equal to

---------------------------------------------------

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

#### Answer

Assignment operator is =

We can use it to assign a variable. Such as: counter = 0. This will not return any value. It will change the state of the system.

Equal to comparison operator is ==

We can use it to check if a variable reached an expected value. Such as: counter == 0. This will return True.

---------------------------------------------------

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [2]:
#### Answer
spam = 0 
if spam == 10:
    print('eggs')
if spam > 5: 
    print('bacon') 
else: 
    print('ham')
    print('spam')
    print('spam')

# This would be the correct indentation for the three blocks in the code.

# The three blocks are print('eggs'), print('bacon') and print('ham') print('spam') print('spam')

# ---------------------------------------------------

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [3]:
#### Answer

if spam==1:
    print('Hello')
elif spam==2:
    print('Howdy')
else:
    print('Greetings!')

# ---------------------------------------------------

Greetings!

9. If your programme is stuck in an endless loop, what keys you’ll press?

#### Answer
Ctrl+C on the terminal that is running the process. Or kill the terminal using the GUI.

---------------------------------------------------

10. How can you tell the difference between break and continue?

#### Answer

When we use break, we come out of the loop.

When we use continue, we skip to the next iteration.

---------------------------------------------------

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

#### Answer

There is no difference between all three.
The default start value is 0, the default step value is 1. 

However, we have to mention all three if we are mentioning step value explicitly.

---------------------------------------------------

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [4]:
#### Answer
for i in range(1,11):
    print(i)
print("\n")
i=1
while(i<11):
    print(i)
    i += 1
    
# ---------------------------------------------------

1
2
3
4
5
6
7
8
9
10


1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

#### Answer

The function can be called with spam.bacon()

---------------------------------------------------